<% flash.each do |msg| %>
  <% if msg[1].is_a?(String) %>
    <div class="alert alert-<%= msg[1] == flash[:notice] ? "success" : "danger" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg[1] %>
    </div>
  <% end %>
<% end %>