<nav class="navbar navbar-default navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to "G5 SimpliFit", about_path, :class => "navbar-brand" %>
    </li>
    <li>
      <%= link_to current_user.first_name, user_path(current_user), :class => "navbar-brand" %>
    </li>
  </ul>
</nav>